<h1>Board.Backlog</h1>
<div class="backlog">
<ol>
<%= render(@backlog) %>
</ol>
</div>
<div class="priority">
<ol>
<%= render(@priority) %>
</ol>
</div>
<div class="active">
<ol>
<%= render(@active) %>
</ol>
</div>
<div class="delegated">
<ol>
<%= render(@delegated) %>
</ol>
</div>
<div class="complete">
<ol>
<%= render(@complete) %>
</ol>
</div>
