a<%= link_to 'New Story', new_story_path %>
<table>
<tr>
	<th>Backlog</th>
	<th>Priority</th>
	<th>Active</th>
	<th>Delegated</th>
	<th>Done</th>
</tr>
<tr>
<td>
<div  class="backlog">
<ul id="B" class="sortcol">
<%= if @backlog then  render(@backlog) end%>
</ul>
</div>
</td>
<td>
<div class="priority">
<ul id="P" class="sortcol">
<%= if @priority then render(@priority) end%>
</ul>
</div>
</td>
<td>
<div  class="active">
<ul id="A" class="sortcol">
<%= if @active then render(@active) end %>
</ul>
</div>
</td>
<td>
<div class="delegated">
<ul id="D" class="sortcol">
<%= if @delegated then render(@delegated) end%>
</ul>
</div>
</td>
<td>
<div  class="complete">
<ul id="C" class="sortcol">
<%= if @complete then render(@complete) end %>
</ul>
</div>
</td>
</tr>
</table>

<<script>
	$(function() {
		//alert('jquery enabled')
		$(".sortcol").sortable({
			connectWith: ".sortcol",
			receive: function(event, ui) {
				//alert("dropped " + ui.item.attr('id') + "in col" + ui.item.parent().attr('id'));
				$.ajax({ 
					 url: "<%= drop_url() %>",
					 type: 'PUT',
					 data: $.param({id : ui.item.attr('id'), state : ui.item.parent().attr('id')}),  
					 success: function(d) { ui.item.effect("pulsate", {} , 500 ) } 
					})//end get
            } //end receive function 
		}); //end sortable
		//$( "#sortable" ).disableSelection();
	}); // end function
</script>
