<%= link_to 'New Story', new_story_path %>
<table>
<tr>
	<th>Backlog</th>
	<th>Priority</th>
	<th>Active</th>
	<th>Delegated</th>
	<th>Done</th>
</tr>
<tr>
<td>
<div  class="backlog">
<ul id="B" class="sortcol">
<%= render(@backlog) %>
</ul>
</div>
</td>
<td>
<div class="priority">
<ul id="P" class="sortcol">
<%= render(@priority) %>
</ul>
</div>
</td>
<td>
<div  class="active">
<ul id="A" class="sortcol">
<%= render(@active) %>
</ul>
</div>
</td>
<td>
<div class="delegated">
<ul id="D" class="sortcol">
<%= render(@delegated) %>
</ul>
</div>
</td>
<td>
<div  class="complete">
<ul id="C" class="sortcol">
<%= render(@complete) %>
</ul>
</div>
</td>
</table>

<<script>
	$(function() {
		alert('jquery enabled')
		$(".sortcol").sortable({
			connectWith: ".sortcol",
			receive: function(event, ui) { 
				$.get('<%= link_to 'board', :action => 'update' %>',  function(data) {alert('Load was performed.')};
}); 
			}
		});
		//$( "#sortable" ).disableSelection();
	});
</script>
