<%= link_to 'New Story', new_story_path %>
<table>
<tr>
	<th>Backlog</th>
	<th>Priority</th>
	<th>Active</th>
	<th>Delegated</th>
	<th>Done</th>
</tr>
<tr>
<td>
<div class="backlog">
<ul class="sortcol">
<%= render(@backlog) %>
</ul>
</div>
</td>
<td>
<div class="priority">
<ul class="sortcol">
<%= render(@priority) %>
</ul>
</div>
</td>
<td>
<div class="active">
<ul class="sortcol">
<%= render(@active) %>
</ul>
</div>
</td>
<td>
<div class="delegated">
<ul class="sortcol">
<%= render(@delegated) %>
</ul>
</div>
</td>
<td>
<div class="complete">
<ul class="sortcol">
<%= render(@complete) %>
</ul>
</div>
</td>
</table>

<<script>
	$(function() {
		alert('jquery enabled')
		$(".sortcol").sortable({
			connectWith: ".sortcol"
		});
		//$( "#sortable" ).disableSelection();
	});
</script>
