<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </div>
  <div class="field">
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :need_by %><br />
    <%= f.date_select :need_by %>
  </div>
  <div class="field">
    <%= f.label :delegatee %><br />
    <%= f.text_field :delegatee %>
  </div>
  <div class="field">
    <%= f.label :column_ord %><br />
    <%= f.text_field :column_ord %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
